:host {
  height: calc(100vh - 64px);
  max-width: 100%;
}

mat-card {
  padding: 25px;
  margin: 15px;
}

.next {
  font-size: 13vh;
  margin: 0
}

.queue-name {
  font-size: 10vh;
  margin: 4vh 0 0;
}
